//***************//
//** Variables **//
//***************//
:root {
    --delay-flowers: 8s;
    --out-delay: 0.1s;
    --fadeIn-delay: 1s;
}

// **** Première Sections Hero header **** 

.banner {
    transform: translateY(0px);
    animation: fadeInDown var(--fadeIn-delay) ease-in-out var(--out-delay);
    overflow: hidden;
        &__logo {
            animation: fadeInUp var(--fadeIn-delay) ease-in-out var(--out-delay);
            position: absolute;
            z-index: 1;
            display: flex;
            width: 100%;
            justify-content: center;           
        }
}

// **** 2ème Section "L'Histoire" ****
.story {
    animation: fadeInUp var(--fadeIn-delay) ease-in-out var(--out-delay);
}

// Fleur de la 2ème section
.story h2::after {
    animation: rotateFlowers var(--delay-flowers) var(--out-delay) linear infinite;
    height: 155px;
}

.story__article::after {
    animation: rotateFlowers var(--delay-flowers) var(--out-delay) linear infinite;
}


// **** 3ème Section "Studio Koukaki" ****
#studio {
    animation: fadeInUp var(--fadeIn-delay) ease-in-out 0.1s;
    h2 {
        &::before {
            animation: rotateFlowers var(--delay-flowers) var(--out-delay) linear infinite;
            height: 203px;
        }
        &::after {
            animation: rotateFlowers var(--delay-flowers) var(--out-delay) linear infinite;
            width: 108px;
            height: 108px;
        }
    }
}

// **** 4ème Section "Nomination aux oscars" ****
.oscars {
    animation: fadeInUp var(--fadeIn-delay) ease-in-out var(--out-delay);
    display: flex;
    justify-content: center;
    padding-top: 150px;
    position: relative;
    &__container {
        display: flex;
        flex-direction: row;
        margin-bottom: 150px;
        justify-content: center;
        @media (max-width: 1192px) {
            flex-direction: column;
            align-items: center;
        }       
        h3 {
            background: url('../new-image/oscars-background.png') no-repeat center;
            text-align: left;
            text-shadow: 0px 3px 9px rgba(0,0,0,0.6);
            background-size: contain;
            padding: 80px 80px;
            @media (max-width: 480px) {
                text-align: center;
                padding: 70px 70px;
            }
            span {
                display: inline-block;
                justify-content: center;
                max-width: 100%;
                @media (max-width: 720px) {
                    font-size: 1.9rem;
                    line-height: 2.5rem;
                }
                @media (max-width: 570px) {
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                }
                @media (max-width: 480px) {
                    font-size: 1.4rem;
                    line-height: 1.9rem;
                    width: 300px;
                }           
            }
        }
        img {
            margin-right: 40px;
            margin-top: 30px;
            width: 280px;
            height: 130px;
            @media (max-width: 1192px) {
                margin-right: 0px;
                margin-top: 0px;
            }
        }
        &::before {
            content: url('../new-image/sunflower.png');
            position: absolute;
            left: 7em;
	        top: 2em;
            animation: rotateFlowers var(--delay-flowers) var(--out-delay) linear infinite;;
        }
        &::after {
            content: url('../new-image/orchid.png');
            position: absolute;
            right: -4em;
	        top: 0em;
            animation: rotateFlowers var(--delay-flowers) var(--out-delay) linear infinite;
        }
    }
}



// **** Footer ****
.site-footer {
    animation: fadeInUp var(--fadeIn-delay) ease-in-out var(--out-delay);
    &::before, &::after {
        display: none;
    }
    ul {
        &::after {
            animation: rotateFlowers 10s var(--out-delay) linear infinite;
        }
    }
}


// ***** KeyFrame ******

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        }
    100% {
        opacity: 1;
        transform:translateY(0px);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(300px);
    }
    to {
        opacity:  1;
        transform: translateY(0px);
    }
}

@keyframes rotateFlowers {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}